<div class = 'whitebg z-depth-1'>
  <h5 class="center-align">Resend Confirmation Instructions</h5>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
    <div class="row">
      <div class="col s6">
        <%= button_tag(type: 'submit', class: 'btn blue') do %> Resend <span class="fa fa-sign-in"></span>
        <% end %>
      </div>
      <div class="col s6">
        <%= link_to "Login", new_user_session_path, class: 'btn-flat smallbtn' %>
      </div>
    </div>
  <% end %>
</div>