<% if @employees.present? %>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.designation %></td>
      <td><%= employee.gender %></td>
      <td><%= employee.date_of_birth %></td>
      <td><%= employee.date_of_joining %></td>
      <td><%= link_to 'Edit', edit_admin_path(employee) %></td>
      <td><%= link_to 'Delete', admins_path(employee), method: :delete %></td>
    </tr>
  <% end %>
<% end %>