<div class='whitebg z-depth-2'>
  <div class="row">
    <div class="col s12 right-align">
      <%= form_tag admins_import_user_path, multipart: true do %>
        <div class="col s11">
          <div class="file-field input-field">
            <div class= "col s6">
              <div class="btn">
                <span>File</span>
                <%= file_field_tag :file %>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="col s5">
              <%= submit_tag 'Import CSV', class: 'btn' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class= "col s1">
      <%= link_to new_admin_path, class: 'btn-floating green center-align' do %>
        <span class='fa fa-plus'></span>
      <% end %>
      </div>
    </div>
  </div>
  <div class='col m12'>
    <% content_for :form_title, 'Employees' %>
    <%= form_tag admins_path, :method => 'get', remote: true do%>
      <%= text_field_tag :name, params[:name], placeholder: "search by employee name" %>
      <%= submit_tag "Search", name: "search", id: "search", class: "btn blue"%>
    <% end %>
    <table class="responsive-table">
      <thead class= 'employee_table_head'>
        <%= render 'employee_list_table_head' %>
      </thead>
      <tbody class= 'employee_table_body'>
        <%= render 'employee_list' %>
      </tbody>
    </table>
    <div id='paginate'>
      <%= paginate @employees, remote: true %>
    </div>
  </div>
</div>
