<div class="whitebg">
  <div class="row">
    <div class="col m3">
      <div class="box red lighten-3">
        <strong>Leave Request</strong>: 12 
      </div>
      <%= notice %>
    </div>
  </div>
  <div class="col m12 leave-requests">
    <% if can? :manage, User %>
      <table class="responsive-table">
        <thead>
          <%= render 'employee_list_table_head' %>
        </thead>
        <tbody>
          <%= render 'employee_list' %>
        </tbody>
      </table>
      <%= paginate @employees %>
      <%= form_tag admins_import_user_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag 'Import CSV' %>
      <% end %>
    <% end %>
  </div>
</div>
