<div class="whitebg">
  <div class="row">
    <div class="col m3">
      <div class="user-profile clearfix">
        <div class="image"><%= image_tag current_user.avatar.url%></div>
        <div class="user-info">
          <div class="name"><%= @user.name %></div>
          <div class="designation"><%= @user.designation%></div>
        </div>
      </div>
      <div class="box indigo">
        <strong>Leave Balance</strong>: 10
      </div>
      <div class="box blue">
        <strong>Leave Requests</strong>: 1
      </div>
      <div class="box blue lighten-2">
        <strong>Taken Leave</strong>: 5
      </div>
    </div>
    <div class="col m9">
      <div class="user-details">
        <h5>Job Description</h5>
        <div class="content-box">
          <dl>
            <dt>Joining Date</dt>
            <dd><%= @user.date_of_joining %></dd>
          </dl>
          <dl>
            <dt>Personal Email Address</dt>
            <dd><%= @user.email %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>