<div class = 'input-field'>
  <%= f.label :leave_type_name, 'Leave Type Name' %>
  <%= f.text_field :leave_type_name %>
</div>

<div class = 'input-field'>
  <%= f.label :no_of_days, 'No of Days' %>
  <%= f.text_field :no_of_days %>
</div>

<div class = 'input-field'>
  <%= f.label :description, 'Description' %>
  <%= f.text_field :description %>
</div>