<% if @leave_types.present? %>
  <% @leave_types.each do |leave_type| %>
    <tr>
      <td><%= leave_type.leave_type_name %></td>
      <td><%= leave_type.no_of_days %></td>
      <td><%= leave_type.description %></td>
      <td><%= link_to 'Edit', edit_leave_type_path(leave_type) %></td>
      <td> <%= link_to 'Delete', leave_type_path(leave_type), method: :delete, data: { confirm: 'Are you sure you want to delete this leave type?' } %></td>
    </tr>
  <% end %>
<% end %>