<% if @sign_offs.present? %>
  <% @sign_offs.each do |sign_off| %>
    <tr>
    <td><%= sign_off.sign_off_type.sign_off_type_name %></td>
    <td><%= sign_off.half_full_leave %></td>
    <td><%= sign_off.sign_off_status %></td>
    <td><%= sign_off.date_from %></td>
    <td><%= sign_off.date_to %></td>
    <td><%= sign_off.leave_days %></td>
    <td><%= sign_off.reason %></td>
    <td><%= link_to 'Show', sign_off_path(sign_off) %></td>
    <td><%= link_to 'Edit',  edit_sign_off_path(sign_off) %></td>
    <td><%= link_to 'Delete', sign_off_path(sign_off), method: :delete, data: { confirm: 'Are you sure you want to delete this Sign Off?' } %></td>
    </tr>
  <% end %>
<% end %>