<%= f.label :leave_type_id, 'Leave Type' %>
<%= f.select :leave_type_id, LeaveType.all.collect { |l| [ l.leave_type_name, l.id ] } %>

<div class = 'input-field'>
  <span class="radio-inline">
    <%= f.radio_button :half_full_leave, 'half' %>
    <%= f.label :half_full_leave_half, 'Half Leave' %>
  </span>
  <span class="radio-inline">
    <%= f.radio_button :half_full_leave, 'full' %>
    <%= f.label :half_full_leave_full, 'Full Leave' %>
  </span>
</div>

<div class = 'row'>
  <div class = 'input-field col s6'>
    <%= f.label :date_from, 'From Date' %>
    <%= f.date_field :date_from, class: 'datepicker' %>
  </div>
  <div class = 'input-field col s6'>
    <%= f.label :date_to, 'To Date' %>
    <%= f.date_field :date_to, class: 'datepicker' %>
  </div>
</div>

<div class = 'input-field'>
  <%= f.label :leave_days, 'Leave Days' %>
  <%= f.text_field :leave_days %>
</div>

<div class = 'input-field'>
  <%= f.label :reason, 'Reason' %>
  <%= f.text_field :reason %>
</div>

<script>
  $('select').material_select();
  $('.datepicker').pickadate();  
</script>
