<!DOCTYPE html>
<html>
<head>
  <title>LeaveMgmtAppTheme</title>
  <%= stylesheet_link_tag    'login_layout', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login_layout', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= 'cyan' if params[:action] == 'login'%>">
<%= yield %>

</body>
</html>
