<!DOCTYPE html>
<html>
  <head>
    <title>LeaveManagementSystem</title>
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="centeralign-form">
      <%= render 'layouts/login/header' %>
      <div class='content'>
        <div class='container'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
