<div class="centeralign-form">
  <div class="content">
    <div class="container">
      <div class="whitebg z-depth-1 register-form">
        <h5 class="center-align">Update Profile</h5>
        <%= form_for(resource, as: resource_name, url: registration_path(resource), html: {method: :put} ) do |f| %>
          <%= devise_error_messages! %>
            <%= f.hidden_field :confirmation_token %>
             <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          <div class="row">
            <div class="col s4">
              <div class="file-field input-field clearfix">
                <div class="btn grey upload-pic">
                  <span>Upload Profile</span>
                  <%= f.file_field :avatar %>
                </div>
                <div class="file-path-wrapper clear">
                  <input class="file-path validate" type="text" placeholder="Select jpeg, jpg and png">
                </div>
              </div>
              <div class="input-field">
                <%= f.text_field :designation %>
                <%= f.label :designation %>
              </div>
            </div>
            <div class="col s8">
              <div class="input-field">
                <%= f.text_field :name%>
                <%= f.label :name %>
              </div>
              <div class="input-field">
                <%= f.email_field :email %>
                <%= f.label :email %>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <%= f.label :date_of_birth %>
                  <%= f.text_field :date_of_birth, class: 'datepicker' %>
                </div>
                <div class="input-field col s4">
                  <span class = 'radio-inline'>
                    <%= f.radio_button :gender, 'male' %>
                    <%= f.label :gender_male, 'Male' %>
                  </span>
                  <span class = 'radio-inline'>
                    <%= f.radio_button :gender, 'female' %>
                    <%= f.label :gender_female, 'Female' %>
                  </span> 
                </div>
              </div>              
            </div>
            <div class="col s12">
              <div class="row">
                <div class="input-field col s4">
                  <%= f.password_field :current_password, autocomplete: "off"  %>
                  <%= f.label :current_password, "Current Password" %>
                </div>
                <div class="input-field col s4">
                  <%= f.password_field :password, autocomplete: "off"  %>
                  <%= f.label :password %>
                </div>
                <div class="input-field col s4">  
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  <%= f.label :password_confirmation %>
                </div>
              </div>
            </div>
          </div>      
          <div class="row">
            <div class="col s12">
              <%= button_tag(type: 'submit', class: 'btn blue') do %> Update <span class="fa fa-check"></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type= "text/javascript">
  LeaveManagementSystem.Common.bindDatePicker();
</script>
